.banner-container {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    padding: 0 8vw;
    flex-wrap: wrap;
    position: relative;
}

.banner-container img {
    display: block;
    width: 150px;
    padding: 0 5px 5px 1rem;
}

.circle-2 {
    position: absolute;
    top: -25px;
    right: 0px;
    width: 200px;
    height: 200px;
    background-color: rgba(250, 206, 73, 0.566);  
    border-radius: 50%; 
    box-shadow: 0 0 150px 150px rgba(250, 206, 73, 0.566);
    opacity: 50%;
    z-index: -1; 
  }


@media (max-width : 370px) {
    .banner-container {
        justify-content: center;
    }
}